body {
    margin: 0;
    font-family: sans-serif;

  }
  @font-face {
    font-family: 'GT Walsheim';
    src: url('/font/GTWalsheimBold.woff2') format('woff2'),
        url('/font/GTWalsheimBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('/font/GTWalsheimBold.woff2') format('woff2'),
        url('/font/GTWalsheimBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('/font/GTWalsheimBold.woff2') format('woff2'),
        url('/font/GTWalsheimBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

  canvas {
    display: block;
  }

  .mx-100 {
    max-width: 100%;
  }

  #myDiv {
      display: flex;
      /* align-items: center; */
  }

  #product {
    padding: 5em;
  }

  .product-container {
      display: flex;
      justify-content: center;
  }

  #product-img-bg canvas {
      width: 100% !important;
      height: auto !important;
  }

  #myDiv {
    /* width: 50%;
    height: 50%; */
    /* position: absolute;
    left: -40px;
    top: 25%; */
    /* display: flex;
    align-items: center; */
    
    padding: 40px 40px;
  }

  .product-description {
    order:2;
    width:100%;
    margin-left: 40px;
    
         
  }


  .product-description p {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;    
    padding: 20px 0;   
  }

  #product {
    background-image: url('/Background\ -\ \ Product\ -\ Classic.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    
  }

  #product-image {
    background-color: #F8CE41;
    width: 100%;

  }

  .product-claims {
    display: flex;
    justify-content: center;
  }

  .product-claims-wrap {
    text-align: center;
  }

  .product-claims-wrap img {
    width: 60%;
  }

  #product-img-bg {
    background-image: url('/product-bg.png');
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    box-shadow: 0px 0px 9px 5px rgb(0 0 0 / 10%);
    align-items: center;
    display: flex;
    position: relative;
  }

  /* #product-img-bg canvas {
    position: relative;
    left: 25px;
  } */

  #product-img-bg img {
      width: 50px;
      position: absolute;
      margin-left: 20px;
      top: 0;
  }

  .social-share-trigger {
    width: 30px;
    height: 30px;
    margin: 0 10px;
  }

  .social-share {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    padding: 20px 0;
  }

  .social-share h3 {
    font-weight: bold;
    font-size: 22px;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
  }

  .lays-coupon--container-bg-desktop {
    background-image: url('/lays-yellow-background.jpeg');
    display: flex;
    justify-content: center;
  }


  .lays-coupon--container {
display: flex;
width: 80%;
max-width: 1030px;
margin: 0 auto;
padding: 101px 0;
  }

  .lays-coupon--text {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
flex: 1;
background-color: white;
position: relative;
text-align: center;
padding: 15px;
font-family: 'Raleway',sans-serif;
  }

  .lays-coupon--text h3 {
color: #0e4caa;
font-weight: bold;
margin-bottom: 30px;
font-size: 40px;
line-height: 1em;
}

.lays-coupon--text a {
border-radius: 25px;
width: 160px;
color: #FFFFFF;
display: block;
padding: 15px;
margin: 0 auto;
font-family: 'Raleway',sans-serif;
text-align: center;
background-color: #D62F30;
text-decoration: none;
font-weight: bold;
}

.lays-coupon-disclaimer {
font-size: 12px;
padding-top: 10px;
margin-top: 20px;
font-family: 'Open Sans',sans-serif;
}

img.mx-100 {
    width: 100%;
}

canvas{
    transform: scale(1.8);
}

h1 {
    font-size:1.5em !important;
}

.lays-related-product-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.lays-related-product .view-products {
    padding: 0px 15px 20px 15px;
}

.lays-related-product .view-products a {
    border-radius: 25px;
    margin: auto;
    width: 160px;
    padding: 15px;
    text-align: center;
    background-color: #D62F30;
}

.lays-related-product a {
    color: #FFFFFF;
    display: block;
    font-family: 'Raleway',sans-serif;
    text-align: center;
}
.lays-section-container {
    max-width: 1100px;
    margin: 0 auto 40px;
    padding: 20px;
}

.lays-related-product {
    margin: 25px 30px;
    background-color: #fec033;
    position: relative;
    z-index: 2;
    width: 295px;
}

.lays-related-product .products-category-title {
    padding: 15px;
}

.products-category-title {
    height: 70px;
    display: flex;
    align-items: center;
    line-height: 1.3;
    font-size: 18px;
}

a:hover {
    color: #fff !important;
    text-decoration: none !important;

}

#lays-social-block {
    background-image: url(/lay-blue-background.jpeg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    padding: 50px 0;
}

.lays-pepper {
    width: 25%;
    position: absolute;
    right: 0;
    top: -60px;
}
.lays-related-block .lays-chip-left {
    top: 300px;
}

.lays-chip-left {
    width: 20%;
    position: absolute;
    z-index: 1;
}

.lays-section-container h2 {
    font-size: 48px !important;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
}

.lays-social-video-main-wrapper {
    background-image: url(/lays-green-background.jpeg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    
}

.lays-social-video-wrapper {
    display: flex;
    justify-content: space-between;
}

.lays-onion {
    width: 35%;
    position: absolute;
    top: -60px;
}

.container-video {
    position: relative;
    z-index: 1;
    max-width: 100%;
    margin: 0px auto;
    text-align: center;
    display: flex;
    align-items: center;
}

.lays-cream {
    width: 35%;
    position: absolute;
    right: 0;
    top: -60px;
}

#home-video {
    position: relative;
}

.video-item {
    margin: 0 auto;
}

.video-section {
    background: transparent;
    padding: 98px 0;
    overflow: hidden;
}

.container-video {
    position: relative;
    z-index: 1;
    max-width: 100%;
    margin: 0px auto;
    text-align: center;
    display: flex;
    align-items: center;
}

.container-video, .container-social {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.video-section .video-title h3 {
    color: #ffffff;
    font-size: 70px;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 48px;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
}

.arrow-section-footer-white {
    background-image: url('/arrow-white.png');
    height: 100px !important;
    top: -100px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
}


footer .footer_row {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer .footer_row--top {
    display: block;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid #E0E0E0;
    text-align: center;
}

.clearfix {
    display: block;
}

footer .footer_row--top p {
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 16px;
    color: #000000;
    font-size: 18px;
}

footer .footer_row .btn_red {
    padding: 12px 40px;
    min-width: 150px;
}

.btn-footer_fixed {
    max-width: 150px;
    margin: 0 auto;
}

.btn_red, .btn-red__navbar {
    background-color: #db1d2c !important;
    padding: 12px 30px;
    color: white !important;
    text-align: center;
    transition: all 0.2s;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    outline: none !important;
    font-family: 'Open Sans',sans-serif;
    min-width: 150px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}




#footer-btn {
    display: flex;
    justify-content: center;
}

footer .footer_row--bottom {
    display: flex;
    justify-content: space-around;
}

footer .footer_row--bottom {
    background-image: linear-gradient(to right,#0e4ca9,#0d479e,#0b4293,#0b3d88,#0a387d);
}

.padding-bottom-none {
    padding-bottom: 0 !important;
}

.footer-middle {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.tr-copyright {
    margin-top: -16px;
    padding-bottom: 50px;
    text-align: center;
    background-image: linear-gradient(to right,#0e4ca9,#0d479e,#0b4293,#0b3d88,#0a387d);
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

footer .footer_row--bottom--links ul li a {
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-decoration: none;
    background-color: transparent !important;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.tr-copyright p {
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #ffffff !important;
}

.brands-navbar__center-align {
    display: flex;
    align-items: center;
    flex: 1;
}
ul {
    list-style: none;
}



.lays-logo {
    width: 65px;
    max-width: 100%;
    height: auto;
}

.lays-navbar__vertical-align ul a {
    color: #da252e;
}

.lays-navbar__vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    position: relative;
}

.lays-navbar__vertical-align {
    background-color: #FECE1C !important;
}

.lays .fa-navbar {
    background: #D62728 !important;
    font-size: 14px !important;
}

.brands-navbar__social-icons img {
    width: 80%;
}

.brands-navbar__social-icons {
    margin: 0 8px;
}

#nav-twitter > img {
    width: 80%;
}

footer .footer_row--top div h2 {
    font-weight: 700;
    font-style: normal;
    width: 100%;
    font-size: 48px;
    color: #000000;
    padding-bottom: 16px;
    text-transform: inherit;
}

.product-description h1 {
    font-family: 'GT Walsheim';
    font-weight: bold;
}

.lays-product-nutrition {
    display: flex;
    justify-content: space-between;
}

.lays-product-nutrition .performance-facts {
    padding: 0;
    line-height: 1.4;
    width: 100%;
    margin: 0;
    float: none;
    padding: 0 15px;
}

.lays-product-nutrition .linkeable {
    font-size: 40px;
    padding: 30px 0px;
    line-height: 1.3em;
    font-weight: bold;
    font-family: 'Raleway',sans-serif;
}

.lays-productdetails-nutrition-table {
    width: 100%;
}

.font-black .lays-productdetails-nutrition-row {
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.font-black {
    color: #000000;
}
.lays-productdetails-nutrition-row {
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid 
}

.lays-productdetails-nutrition-cell {
    padding: 6px 2px;
    font-size: 0.875em;
    font-weight: normal;
    font-family: 'Open Sans',sans-serif;
}

.lays-productdetails-nutrition-header-row {
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.color {
    background-color: rgba(255,255,255,0.3);
}


.lays-product-nutrition .product-ingredients {
    padding: 0 15px;
}

.lays-product-nutrition .product-ingredients {
    width: 100%;
}

.performance-facts {
    margin-left: 15px;
}

.top-nav-lays {
    justify-content: center;
    align-items: center;
    background-color: #FECE1C !important;
}

.noDesktop {
    display: none;
}

.btn_blue-navbar {
    background-color: #1E5AA5;
    padding: 12px 30px;
    color: white !important;
    text-align: center;
    transition: all 0.2s;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    outline: none !important;
    font-family: open-sans, sans-serif;
    min-width: 150px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-transform: capitalize; */
    margin: 0 15px !important;
    border-radius: 0;
    box-shadow: none;
}

.navbar-default {
    display: flex;
}

a#active_link-mobile:hover {
    color:#000 !important
}

a.sign_in.jsModalSignIn:hover {
    color: #0e4caa !important;
}



@media screen and (max-width: 768px) {
    #myDiv {
        padding: 0;
        flex-direction: column;
    }

    /* #product-img-bg canvas {
        width: 100% !important;
        height: 280px !important;
        left: 0;
    } */

    canvas {
        transform: scale(1.3);
    }

    #product {
        padding:10px
    }

    .product-description {
        padding: 10px;
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }

    

    #product-img-bg {
        width: 100%;
        padding: 20px 0;
    }

    #product-image {
        width: 90%;
}

#product {
    padding: 0;
}



.lays-coupon--container {
    width: 85%;
    margin-top: 3.2em;
    flex-direction: column
}

.product-description{
    margin-left: 0;
}

.product-description p {
    padding: 0 10px !important;
    padding: 25px 0;
}

#product {
    padding: 10px 0;
}

.lays-related-product-wrapper {
    flex-direction: column !important;
}

.nav {
    flex-direction: column;
    align-items: center;
}

.lays-product-nutrition {
    flex-direction: column;
}

#brands_navigation {
    flex-direction: column;
}

#nav-twitter > img {
    width: 25px;
}

.brands-navbar__social-icons img {
    width: 25px;
}

ul.brands-navbar__ul.brands-navbar__center-align {
    width: 100%;
    text-align: left;
    padding: 0;
}

.brands-navbar_accounts-mbl {
    width: 100%;
}

div#to-open-close-search-popover-container {
    width: 100%;
}

li {
    width: 100%;
}

#product-img-bg img {
    width: 38px;
}


}

 @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)  {

    /* #product-img-bg canvas {
        width: 100% !important;
        height: 450px !important;
        
    } */

} 







@media screen and (min-width: 2000px) {

    /* #product-img-bg canvas {
        width: 65% !important;
        position: relative;
        left: 280px;
    } */

    canvas {
        transform: scale(1.8);
    }

}

@media only screen 
  and (min-device-width: 832px) 
  and (max-device-width: 1366px)  {

    #myDiv {
        flex-direction: column;
    }

    canvas {
        transform: scale(1.3);
    }

    .product-description {
        margin-left: 0;
        text-align: center;
        padding: 20px 0;
    }

    #product {
        padding: 30px 0;
    }

}

@media screen and (max-width: 1920px) {
.arrow-section-footer-white {
    height: 60px;
    top: -55px;
}
}

@media only screen and (min-width: 991px) {
.tr-copyright {
    padding-top: 32px;
    margin-top: -1px;
}

.center-align-dsk {
    display: flex;
    align-items: center;
    justify-content: center;
}
.lays-navbar__vertical-align {
    padding: 5px 32px;
    height: 75px;
}
.brands-navbar__center-align {
    display: flex !important;
}

.lays-logo {
    height: 54px;
}
.justify-end {
    justify-content: flex-end !important;
}
.brands-navbar__ul a {
    padding-left: 15px;
    padding-right: 15px;
}
.brands-navbar__ul a {
    font-family: 'GT Walsheim';
    font-style: normal;
    text-align: center;
    color: #000000;
    transition: 0.3s all;
    font-weight: 900;

}

.lays-navbar__vertical-align ul a {
    color: #da252e !important;
}



}


/*Navbar for TR on Brands Websites*/


@media (min-width: 992px) {
    #block-mainnavigation-2 .menu--main li{
      width: 70px;
      text-align: center;
      padding: 0;
      display: flex;
      justify-content: center;
    }
  
    #block-mainnavigation-2 .menu--main li a{
      margin: 0;
      padding: 0 !important;
    }
  }
  
  header .menu a {
    color: #000000;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s all;
    margin: 0 30px;
    padding: 10px 0 !important;
    display: block;
  }
  
  header .menu_account a {
    font-size: 16px;
  }
  
  .dropdown a {
    margin: 0 !important;
    padding: 0;
    text-decoration: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    z-index: 999999999;
  }
  
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    line-height: 45px;
    text-align: left;
    padding-left: 20px;
    border: 1px solid #ccc;
  }
  
  .dropdown-content a:hover {
    background-color: #b81321;
    color: #ffffff !important;
    border: 1px solid #b81321;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  #icon-brand-en, #icon-brand-fr {
    width: 24px;
  }
  
  #icon-brand-en:hover {
    content: url('/brands-hover.svg');
    width: 55px;
  }
  

  
  #icon-coupon {
    width: 30px;
  }
  
  #icon-coupon:hover {
    content: url('/coupons-hover.svg');
    width: 52px;
  }
  
  #icon-contest-en, #icon-contest-fr {
    width: 20px;
  }
  
  #icon-contest-en:hover {
    content: url('contest-hover.svg');
    width: 55px;
  }
  
  
  #icon-recipe-en, #icon-recipe-fr {
    width: 25px;
  }
  
  #icon-recipe-en:hover {
    content: url('/recipes-hover.svg');
    width: 48px;
  }
  
  
  html:lang(en) .brand-navbar-icons.fr{
    display: none;
  }
  
  html:lang(fr) .brand-navbar-icons.en{
    display: none;
  }
  
  .navbar-default{
    width: 100%;
    max-width: 100% !important;
    display: block;
    align-items: center;
    justify-content: center;
    background: white;
    border-bottom: 1px solid #e7e7e7;
  }
  
  .header__logo-container{
    display: flex;
    padding: 8px 0;
  }
  
  .header__logo{
    width: 100px;
    max-width: 100%;
    height: auto;
    position: initial;
    margin-bottom: -32px;
    left: 0;
  }
  
  .navbar-default a, .navbar-mbl-tr{
    color: #000000;
    padding: 0 15px !important;
    font-family: 'GTWalsheimBold';
    font-weight: 400;
    font-style: normal;
  }
  
  .navbar-default .sign_in{
    color: #0e4caa;
  }
  
  .navbar-default .sign_in:hover{
    text-decoration: underline !important;
  }
  
  .navbar-default a:hover{
    text-decoration: underline !important;
  }
  
  .navbar-back-div{
    padding: 16px !important;
    border-bottom: 1px solid #e7e7e7;
  }
  
  .navbar-back {
    max-width: 100%;
    width: 8px;
    font-weight: bold;
    margin-left: -15px;
  }
  
  .mobile-menu-items{
    width: 100%;
    vertical-align: middle !important;
  }
  
  .menu--main a:hover{
    background-color: transparent !important;
    text-decoration: underline !important;
  }
  
  .menu_account{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .lays-navbar__vertical-align {
    background-color: #FECE1C !important;
  }
  
  /*Brands Navbar*/
  
  .hr-navbar{
    margin: 0 !important;
    border-top: 1px solid #e7e7e7 !important;
    width: 100%;
  }
  
  .ham-active{
    display: none;
  }
  
  .tostitos-logo {
    width: 115px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  .fritolay-logo {
    width: 100px;
    height: 60px;
    max-width: 100%;
  }
  
  .bare-logo {
    width: 125px;
    max-width: 100%;
    height: auto;
  }
  
  .flaminhot-logo {
    width: 250px;
    max-width: 100%;
    height: auto;
    transform: rotate(
      10deg
    );
  }
  
  .fr .flaminhot-logo {
    width: 250px;
    max-width: 100%;
    height: auto;
    transform: none;
  }
  
  .otep-logo {
    width: 60px;
    max-width: 100%;
    height: auto;
  }
  
  .missvickies-logo {
    width: 150px;
    max-width: 100%;
    height: auto;
  }
  
  .ruffles-logo {
    width: 150px;
    max-width: 100%;
    height: auto;
  }
  
  .quaker-logo {
    width: 75px;
    max-width: 100%;
    height: auto;
  }
  
  .stacys-logo {
    width: 95px;
    max-width: 100%;
    height: auto;
  }
  
  
  .sunchips-logo {
    width: 100px;
    max-width: 100%;
    height: auto;
  }
  
  .lays-logo {
    width: 65px;
    max-width: 100%;
    height: auto;
  }
  
  .doritos-logo {
    width: 80px;
    max-width: 100%;
    height: auto;
  }
  
  .brands-navbar__ul a {
    font-family: 'GTWalsheimBold';
    font-style: normal;
    text-align: center;
    color: #000000;
    transition: 0.3s all;
    font-weight: 800;
    color:#000 !important;
  }
  
  /*.nav>li>a:focus, .nav>li>a:hover {*/
  /*  background-color: transparent;*/
  /*}*/
  
  .brands-navbar__ul a:hover{
  
  }
  
  .brands-navbar__ul a:hover, .brands-navbar__ul a:focus, .brands-navbar__ul a:active {
    color: #db1d2c !important;
    text-decoration: underline !important;
    background-color: transparent;
  }
  
  .brands-navbar__mobile-topnav {
    display: none;
  }
  
  .brands-navbar__vertical-align, .fritolay-navbar__vertical-align, .bare-navbar__vertical-align, .lays-navbar__vertical-align, .otep-navbar__vertical-align, .cheetos-navbar__vertical-align, .missvickies-navbar__vertical-align, .crispyminis-navbar__vertical-align, .flaminhot-navbar__vertical-align, .ruffles-navbar__vertical-align, .doritos-navbar__vertical-align, .quaker-navbar__vertical-align, .smartfood-navbar__vertical-align, .stacys-navbar__vertical-align, .sunchips-navbar__vertical-align, .capncrunch-navbar__vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    position: relative;
  }
  
  .missvickies-navbar__vertical-align, .missvickies .brands-navbar__fixed {
    background: #EBE3D0 !important;
  }
  
  .stacys-navbar__vertical-align, .stacys .brands-navbar__fixed {
    background: #191919 !important;
  }
  
  .ruffles-navbar__vertical-align {
  
  }
  
  /*.navbar-default .sign_in {*/
  /*  color: #000000;*/
  /*}*/
  
  /*.brands-navbar__vertical-align a, .fritolay-navbar__vertical-align a{*/
  /*  color: #4c4c4c;*/
  /*}*/
  
  .brands-navbar__right-align {
    display: block;
    text-align: right;
    flex: 1;
  }
  
  .brands-navbar__left-align {
    display: flex;
    align-items: center;
    flex: 1;
  }
  
  .brands-navbar__center-align {
    display: flex;
    align-items: center;
    flex: 1;
  }
  
  .brands-navbar__fixed{
    width: 100%;
    background: #ffffff;
    position: fixed !important;
    z-index: 9999999;
  }
  
  .brand-navbar__move-top{
    top: 0;
    transition: all .2s;
  }
  
  .brands-navbar__social{
    padding: 0 15px;
  }
  
  .brands-navbar__social-icons{
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .brands-navbar__social-icons:nth-of-type(1){
    padding-left: 0 !important;
  }
  
  /*Brands Navbar Social Icons*/
  
  
  .fa-navbar {
    font-size: 16px !important;
    color: #ffffff;
    background: #001F5D;
    padding: 7px 8px;
    border-radius: 20px;
  }
  
  /*TR arrow*/
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  /*Media Queries starts*/
  
  /*
    Media Max Width classes
  */
  
  @media only screen and (max-width: 576px) {
  
    .otep-logo-mobile {
      padding: 6px 15px 3px !important;
    }
  
    .missvickies-logo-mobile {
      padding: 6px 15px 3px !important;
    }
  
    .ruffles-logo-mobile {
      padding: 6px 15px 2px !important;
    }
  
    .quaker-logo-mobile {
      padding: 6px 15px 2px !important;
    }
  
    .sunchips-logo-mobile {
      padding: 6px 15px 6px !important;
    }
  
  }
  
  @media only screen and (max-width: 991px) {
    header .menu a {
      text-align: left;
      margin: 0;
      padding: 15px 15px !important;
    }
  
    .tostitos-logo {
      width: 95px;
    }
  
    .fritolay-logo, .header__logo {
      width: 70px;
      height: auto;
    }
  
    .bare-logo {
      width: 95px;
    }
  
    .otep-logo {
      width: 40px;
    }
  
    .flaminhot-logo {
      width: 92px;
      transform: none;
    }
  
    .fr .flaminhot-logo {
      width: 110px;
    }
  
    .otep-logo {
      width: 40px;
    }
  
    .missvickies-logo {
      width: 95px;
    }
  
    .ruffles-logo {
      width: 78px;
    }
  
    .quaker-logo {
      width: 42px;
    }
  
    .sunchips-logo {
      width: 42px;
    }
  
    .stacys-logo {
      width: 50px;
    }
  
    .header__logo-container {
      padding: 16px 0 0 0 !important;
    }
  
    .menu_account{
      display: none;
    }
  
    .last{
      margin-bottom: 48px;
    }
  
    /* .navbar-default {
      display: none;
    } */
  
    .brands-navbar__mobile-topnav {
      display: block;
      position: absolute;
      color: #333;
      right: 15px;
      top: 13px;
      font-size: 32px;
      cursor: pointer;
      z-index: 99999;
    }
  
    .brands-navbar__vertical-align, .fritolay-navbar__vertical-align, .bare-navbar__vertical-align, .otep-navbar__vertical-align, .missvickies-navbar__vertical-align, .flaminhot-navbar__vertical-align, .ruffles-navbar__vertical-align, .quaker-navbar__vertical-align, .smartfood-navbar__vertical-align, .stacys-navbar__vertical-align, .sunchips-navbar__vertical-align, .capncrunch-navbar__vertical-align{
      display: block;
      position: relative !important;
    }
  
    .brands-navbar__item-first-border, .brands-navbar__item-border, .menu--main a {
      border-bottom: 1px solid #e7e7e7;
      padding: 15px !important;
    }
  
    .menu_account_mobile_only .btn_blue-navbar {
      text-align: center;
    }
  
    .btn_blue-navbar, .btn_blue-navbar:hover, .btn_blue-navbar:active, .btn_blue-navbar:focus {
      background-color: #1E5AA5 !important;
      box-shadow: 0 3px 0 0 #1b3c94 !important;
    }

    /* .navbar-default {
        display: none;
    } */
  
  }
  
  @media only screen and (max-width: 992px) {
  
    .noMobile {
      display: none;
    }
  
    .noDesktop {
      display: block;
    }
  
    /*Navbar Logos Start*/
  
    .tostitos-logo-mobile {
      padding: 10px 15px 8px;
      width: 50%;
    }
  
    .stacys-logo-mobile {
      padding: 10px 15px 8px;
      width: 50%;
    }
  
    .fritolay-logo-mobile {
      padding: 2px 15px;
      width: 50%;
    }
  
    .bare-logo-mobile {
      padding: 6px 15px;
      width: 50%;
    }
  
    .flaminhot-logo-mobile {
      padding: 0 10px;
      width: 50%;
    }
  
    .otep-logo-mobile {
      padding: 6px 15px;
      width: 50%;
    }
  
    .missvickies-logo-mobile {
      padding: 6px 15px;
      width: 50%;
    }
  
    .ruffles-logo-mobile {
      padding: 4px 15px;
      width: 50%;
    }
  
    .quaker-logo-mobile {
      padding: 6px 16px 4px;
      width: 50%;
    }
  
    .sunchips-logo-mobile {
      padding: 6px 16px 4px;
      width: 50%;
    }
  
  
    /*Navbar Logos Ends*/
    /* Start :- Brands Navbar Hamburger*/
  
    /*.navbar-default {*/
    /*  display: none;*/
    /*}*/
  
    .brands-navbar__vertical-align, .fritolay-navbar__vertical-align, .bare-navbar__vertical-align, .lays-navbar__vertical-align, .stacys-navbar__vertical-align, .sunchips-navbar__vertical-align, .capncrunch-navbar__vertical-align {
      position: relative !important;
    }
  
    .header__logo {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  
    .brands-navbar__top-bar, .brands-navbar__middle-bar, .brands-navbar__bottom-bar {
      display: block;
      width: 35px;
      height: 5px;
      background-color: #000000;
      margin-bottom: 5px;
      transition: all 0.2s;
    }
  
    .brands-navbar__mobile-topnav.ham-active .brands-navbar__top-bar  {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      margin: 0;
      position: relative;
      top: 9px;
    }
  
    .brands-navbar__mobile-topnav.ham-active .brands-navbar__middle-bar {
      display: none;
    }
  
    .brands-navbar__mobile-topnav.ham-active .brands-navbar__bottom-bar {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      margin: 0;
      position: relative;
      top: 4px;
    }
  
    .brands-navbar__fixed .brands-navbar__mobile-topnav{
      top: 16px !important;
    }
  
    /* Ends :- Brands Navbar Hamburger*/
  
    .brands-navbar__left-align, .brands-navbar__center-align{
      display: none;
    }
  
    /*Navbar Accounts Options Start*/
  
    .brands-navbar_accout-options{
      display: flex;
      align-items: center;
    }
  
    .brands-navbar_accout-options a{
      color: #000000;
    }
  
    .choose-lang_fr{
      display: block;
    }
  
    .choose-lang_fr, .brands-navbar_accout-options{
      padding: 15px;
      border-bottom: 1px solid #e7e7e7;
      color: #000000;
      font-weight: 800;
      font-family: 'GT Walsheim';
    }
  
    .sign-in_left {
      width: 33.33%;
      text-align: left;
    }
  
    .sign-up_right, .sign-up_right:hover, .sign-up_right:active, .sign-up_right:focus{
      text-align: center;
      width: 33.33%;
      background-color: #db1d2c;
      color: white !important;
      padding: 10px 8px 8px 8px;
      box-shadow: 0 3px 0 0 #b81321;
      border-radius: 3px;
      cursor: pointer;
      margin: 0 15px;
    }
  
    .btn_blue-navbar, .btn_blue-navbar:hover, .btn_blue-navbar:active, .btn_blue-navbar:focus{
      text-align: center;
      width: 33.33%;
      min-width: 31%;
      background-color: #1E5AA5;
      color: white !important;
      padding: 10px 8px 8px 8px;
      box-shadow: 0 3px 0 0 #1b3c94;
      border-radius: 3px;
      cursor: pointer;
      margin: 0 15px;
      min-height: 34px;
    }
  
    /*Navbar Accounts Options Ends*/
  
    /*Navbar TR Trigger Start*/
  
    .tr-navbar-trigger-mobile {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 15px;
      border-bottom: 1px solid #e7e7e7;
      color: #000000;
    }
  
    .flex-1-center{
      flex: 1;
      display: flex;
      align-items: center;
    }
  
    html:lang(fr) .brands-tr-navbar_image-mbl.en{
      display: none;
    }
  
  
    html:lang(en) .brands-tr-navbar_image-mbl.fr{
      display: none;
    }
  
    .brands-tr-navbar_image-mbl {
      width: 60px;
      height: auto;
      max-width: 100%;
    }
  
    .brands-tr-navbar_copy-mbl {
      padding-left: 15px;
      font-family: 'GT Walsheim'; ;
      font-weight: 800;
    }
  
    .arrow-float_right{
      text-align: right;
    }
  
  
    /*Navbar TR Trigger Ends*/
  
  }
  
  /*
    Media Min Width classes
  */
  
  @media only screen and (min-width: 992px) {
  
    .tostitos-logo {
      width: 140px;
      height: 42px;
    }
  
    .navbar-mbl-tr {
      display: none !important;
    }
  
    .bare .header__logo {
      margin-left: -16px;
    }
  
    .navbar-default{
      display: inline-flex;
      padding: 4px 32px 4px 32px !important;
    }
  
    nav.menu .menu--main, nav.menu{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    }
  
    .brands-navbar__ul a {
      padding-left: 15px;
      padding-right: 15px;
    }
  
    .brands-navbar__vertical-align {
      padding: 15px 32px;
    }
  
    .bare-navbar__vertical-align {
      padding: 15px;
      height: 75px;
    }
  
    .flaminhot-navbar__vertical-align {
      padding: 15px 32px;
      height: 75px;
    }
  
    .stacys-navbar__vertical-align {
      padding: 15px 32px;
      height: 75px;
    }
  
    .otep-navbar__vertical-align {
      padding: 8px 25px 8px 25px;
      height: 75px;
    }
  
    .missvickies-navbar__vertical-align {
      padding: 8px 25px 8px 25px;
      height: 75px;
    }
  
    .ruffles-navbar__vertical-align {
      padding: 8px 25px 8px 25px;
      height: 75px;
    }
  
    .quaker-navbar__vertical-align {
      padding: 8px 25px 8px 25px;
      height: 75px;
    }
  
    .sunchips-navbar__vertical-align {
      padding: 8px 25px 8px 25px;
      height: 75px;
    }
  
    .fritolay-navbar__vertical-align {
      padding: 10px 32px;
    }
  
    .lays-navbar__vertical-align {
      padding: 5px 32px;
      height: 75px;
    }
  
    .doritos-navbar__vertical-align {
      padding: 0 32px;
    }
  
    .lays-navbar__vertical-align ul a{
      color: #da252e;
    }
  
    .brands-navbar__item-border{
      position: relative;
    }
  
    .brands-navbar__item-border a span{
      position: absolute;
      left: -9000px;
      width: 0;
      overflow: hidden;
    }
  
    .brands-navbar__item-border a:hover span, .brands-navbar__item-border a:focus span, .brands-navbar__item-border a:active span{
      display:block;
      position:absolute;
      top: 25px;
      left: 0em;
      width: max-content;
      background-color:#ffffdd;
      border: 1px solid #b7b7b7;
      color:#000;
      padding: 5px;
      text-align: center;
      text-transform: none;
      font-size: 12px;
      font-weight: normal;
      font-family: 'Open Sans', sans-serif !important;
    }
  
    .brands-navbar__item-border .brands-navbar__social-icons{
      position: relative;
    }
  
    .brands-navbar__item-border .brands-navbar__social-icons span{
      margin-left: -40px;
      top: 35px !important;
    }
  
    .missvickies-logo {
      height: 61px;
    }
  
  
    .quaker-logo {
      height: 66px;
    }
  
    .sunchips-logo {
      height: 79px;
      margin-top: 16px;
    }
  
    .stacys-logo {
      height: 56px;
    }
  
    .ruffles-logo {
      height: 70px;
    }
  
    .bare-logo {
      height: 47px;
    }
  
    .lays-logo {
      height: 54px;
    }
  
    .brands-navbar_accounts-mbl{
      display: none;
    }
  
    .brands-navbar__center-align{
      display: flex !important;
    }
  
    .vr-contact-us{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .lays-logo {
    }
 
  
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    .tostitos #brands_navigation .brands-navbar__ul  {
      font-size: 0.8em;
    }
  
    .tostitos #brands_navigation .brands-navbar__ul a {
      padding-right: 10px;
    }
  }
  
  .tr-search-container {
    position: relative;
    /*display: inline-block;*/
    display: none;
  }
  
  .tr-search-input {
    border: 2px solid #eee;
    background-color: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px 25px 5px 5px; }
  .tr-search-input:focus {
    outline: none; }
  
  .tr-search-icon {
    color: #ffffff;
    position: absolute;
    background-color: #004179;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 18px;
    padding: 0 9px 1px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
  .tr-search-icon:hover {
    background-color: #db1d2c;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
  
  @media (max-width: 991px) {
    .brands-navbar__social-icons span, .brands-navbar__item-border span{
      display: none;
    }
  
    footer .footer_row--bottom--links ul li a:hover span, footer .footer_row--bottom--links ul li a:focus span, footer .footer_row--bottom--links ul li a:active span{
      display: none;
    }
  
    .tr-search-container {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
  
    .tr-search-input {
      width: 100%;
    }
  
    body.user-logged-in .brands-navbar_accout-options{
      display: none;
    }

    .lays-logo {
        width: 51px;
        margin-left: -5em;
    }
  
  }
  
  .menu--main li.last {
    margin-bottom: 0; }
  
    .visually-hidden, .visuallyhidden {
        position: absolute !important;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
        width: 1px;
        height: 1px;
        word-wrap: normal;
    }

    @media (min-width: 992px) {
        .menu_account_mobile_only, .mobile-menu-text, .tr-hide-desktop {
            display: none !important;
        }
    }

    @media (max-width: 991px) {
        .tr-hide-mobile {
            display: none !important;
        }

        .nav > li img {
            display: none !important;
        }

        .nav > li span {
            display: block;
        }

        .menu_account_mobile_only {
            display: flex !important;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #e7e7e7;
        }

        .menu_account_mobile_only a {
            border-bottom: none;
        }

        .menu_account_mobile_only .sign_up {
            min-height: 0 !important;
            margin: 0 20px;
            padding: 8px !important;
            min-width: 120px;
            height: auto;
            display: inline-block;
            text-align: center;
        }

      .menu_account_mobile_only .btn_blue-navbar {
        min-height: 0 !important;
        margin: 0 20px;
        padding: 8px !important;
        min-width: 120px;
        width: 120px;
        height: auto;
        display: inline-block;
        box-shadow: none;
        border-radius: 0;
      }

        .tr-search-container {
            padding: 15px !important;
        }

        .tr-search-input {
            border: none;
            padding-left: 0;
        }

        .tr-search-icon {
            top: 15px;
            right: 15px;
            bottom: 15px;
            border: 1px solid black;
            font-size: 14px;
        }

      .btn_blue-navbar:hover, .btn_blue-navbar:focus  {
        background-color: #1b3c94 !important;
        color: white !important;
    }

      .btn-red__navbar:hover, .btn-red__navbar:focus {
        background-color: #b81321 !important;
        color: white !important;
      }

    }

    @media only screen and (max-width: 380px) {
      .menu_account_mobile_only .sign_up {
        min-width: 85px !important;
      }

      .menu_account_mobile_only .btn_blue-navbar {
        min-width: 90px !important;
        width: 90px !important;
      }
    }

    .header__logo-container {
        z-index: 999999;
    }

    .hidden, .d-none {
        display: none !important;
    }
