body {
    margin: 0;
    font-family: sans-serif;

  }
  canvas {
    display: block;
  }

  .mx-100 {
    max-width: 100%;
  }

  #myDiv {
      display: flex;
      /* align-items: center; */
  }

  #product {
    padding: 5em;
  }

  .product-container {
      display: flex;
      justify-content: center;
  }

  #product-img-bg canvas {
      width: 100% !important;
      height: auto !important;
  }

  #myDiv {
    /* width: 50%;
    height: 50%; */
    /* position: absolute;
    left: -40px;
    top: 25%; */
    /* display: flex;
    align-items: center; */
    
    padding: 40px 40px;
  }

  .product-description {
    order:2;
    width:100%;
    margin-left: 40px;
    
         
  }


  .product-description p {
    font-size: 16px;
    line-height: 1.5;

    
           
  }
  #product {
    background-image: url('/Background\ -\ \ Product\ -\ Classic.png');
    
    
  }

  #product-image {
    background-color: #F8CE41;
    width: 80%;

  }

  .product-claims {
    display: flex;
    justify-content: center;
  }

  .product-claims-wrap {
    text-align: center;
  }

  .product-claims-wrap img {
    width: 60%;
  }

  #product-img-bg {
    background-image: url('/product-bg.png');
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    box-shadow: 0px 0px 9px 5px rgb(0 0 0 / 10%);
    align-items: center;
    display: flex;
  }

  /* #product-img-bg canvas {
    position: relative;
    left: 25px;
  } */

  #product-img-bg img {
      width: 50px;
      position: absolute;
      margin-left: 20px;
      top: 130px;
  }

  .social-share-trigger {
    width: 37px;
    height: 37px;
    margin: 0 10px;
  }

  .social-share {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
  }

  .social-share p {
    font-weight: bold;
    font-size: 22px;
  }

  .lays-coupon--container-bg-desktop {
    background-image: url('/lays-yellow-background.jpeg');
    display: flex;
    justify-content: center;
  }


  .lays-coupon--container {
display: flex;
width: 80%;
max-width: 1030px;
margin: 0 auto;
padding: 101px 0;
  }

  .lays-coupon--text {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
flex: 1;
background-color: white;
position: relative;
text-align: center;
padding: 15px;
font-family: 'Raleway',sans-serif;
  }

  .lays-coupon--text h3 {
color: #0e4caa;
font-weight: bold;
margin-bottom: 30px;
font-size: 40px;
line-height: 1em;
}

.lays-coupon--text a {
border-radius: 25px;
width: 160px;
color: #FFFFFF;
display: block;
padding: 15px;
margin: 0 auto;
font-family: 'Raleway',sans-serif;
text-align: center;
background-color: #D62F30;
text-decoration: none;
font-weight: bold;
}

.lays-coupon-disclaimer {
font-size: 12px;
padding-top: 10px;
margin-top: 20px;
font-family: 'Open Sans',sans-serif;
}

img.mx-100 {
    width: 100%;
}

canvas{
    transform: scale(2);
}


@media screen and (max-width: 768px) {
    #myDiv {
        padding: 0;
        flex-direction: column;
    }

    /* #product-img-bg canvas {
        width: 100% !important;
        height: 280px !important;
        left: 0;
    } */

    canvas {
        transform: scale(1.3);
    }

    #product {
        padding:10px
    }

    .product-description {
        padding: 10px;
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }

    

    #product-img-bg {
        width: 100%;
        padding: 20px 0;
    }

    #product-image {
        width: 90%;
}

#product {
    padding: 0;
}

#product-img-bg img {
    top: 10px;
}

.lays-coupon--container {
    width: 85%;
    margin-top: 3.2em;
    flex-direction: column
}

.product-description{
    margin-left: 0;
}

.product-description p {
    padding: 0 10px;
}

#product {
    padding: 10px 0;
}

}

 @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)  {

    /* #product-img-bg canvas {
        width: 100% !important;
        height: 450px !important;
        
    } */

} 



@media screen and (min-width: 2000px) {

    /* #product-img-bg canvas {
        width: 65% !important;
        position: relative;
        left: 280px;
    } */

    canvas {
        transform: scale(2.4);
    }

}

@media only screen 
  and (min-device-width: 832px) 
  and (max-device-width: 1366px)  {

    #myDiv {
        flex-direction: column;
    }

    canvas {
        transform: scale(1.3);
    }

    .product-description {
        margin-left: 0;
        text-align: center;
        padding: 20px 0;
    }

    #product {
        padding: 30px 0;
    }

}


